GOVUK_NOTIFY_API_KEY=
HOSTING_DOMAIN=http://localhost:3000
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=
ONE_LOGIN_HOME_URL=https://home.integration.account.gov.uk
RAISE_ON_MISSING_TRANSLATIONS=false
TEACHER_AUTH_CLIENT_ID=teacher-training-entitlement
TEACHER_AUTH_CLIENT_SECRET=
TEACHER_AUTH_DOMAIN=https://preprod.authorise-access-to-a-teaching-record.education.gov.uk/
TRS_API_URL=https://preprod.teacher-qualifications-api.education.gov.uk
